*,
::before,
::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --link-color: #212121;
  --link-color-hov: #2196f3;
  --contact-color: #757575;
  --title-color: #212121;
  --p-color: #757575;
  --font: "Roboto", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  box-sizing: border-box;
  font-family: var(--font);
  background: #ffffff;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.link {
  font-family: var(--font);
  text-decoration: none;
  font-size: 14px;
  color: var(--link-color);
}

.list-no {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* header */
nav {
  display: flex;
}

.header {
  padding: 24px 0px 25px 0px;
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navig-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  height: 31px;
  margin-right: 90px;
}

.logo-span {
  color: var(--link-color-hov);
}

.white-span {
  color: white;
}

.menu {
  align-items: center;
  display: flex;
}

.menu__item {
  position: relative;
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
  color: var(--link-color-hov);
}

.menu__link:focus {
  color: var(--link-color-hov);
}

.menu__link::after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  content: "";
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  margin-top: 28.3px;
  transform: scaleX(0);
  transition: transform 250ms var(--timing-function);
}

.line-bottom-link::after {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  content: "";
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  margin-top: 28.3px;
  transform: scaleX(1);
}

.menu__link:hover::after,
.menu__link:focus::after {
  transform: scaleX(1);
}

.con-list__item {
  /* padding: 20px 0px 20px 0px; */
  margin-right: 50px;
}

.con-list__item:last-child {
  margin-right: 0px;
}

.con-list {
  display: flex;
  margin-left: auto;
}

.con-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contact-color);
  fill: var(--contact-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.con-list__link:hover,
.con-list__link:focus {
  color: var(--link-color-hov);
  fill: var(--link-color-hov);
}

.con-list__icon {
  stroke: currentColor;
  margin-right: 10px;
}

/* end header */

/* shapka */
.hero-section{
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-section--fon {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-section__main-title {
  color: #fff;
  font-family: var(--font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  width: 696px;
}

.hero-section__order-but {
  display:block;
  margin: 0 auto 0 auto ;
  background: var(--link-color-hov);
  font-family: var(--font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  width: 200px;
  height: 50px;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: all 600ms ease;
}

/* shapka end */
/* about-us */
.about-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__item {
  width: 270px;
}

.about-list__item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.icon-det::before {
  background-image: url(../img/icons/antenna.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-time::before {
  background-image: url(../img/icons/clock.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-plan::before {
  background-image: url(../img/icons/diagram.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tech::before {
  background-image: url(../img/icons/astronaut.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-icon-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about-icon {
  width: 70px;
  height: 70px;
}

.about-list__mini-title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-list__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title-section {
  font-family: var(--font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* IMg */
.list-img-section {
  padding-bottom: 94px;
}

.list-img {
  display: flex;
  justify-content: space-between;
}

.list-img__card-img {
  position: relative;
}

.list-img__desc {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 27px 0px 27px 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}

/* our team */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.list-team {
  display: flex;
  justify-content: space-between;
}

.list-team__item {
  background-color: white;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.list-team__item:last-child {
  margin-right: 0px;
}

.list-team__title-name {
  font-family: var(--font);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.list-team__job {
  font-family: inherit;
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.massage-list {
  justify-content: center;
  display: flex;
}

.massage-list__sn-items:not(:last-child) {
  margin-right: 10px;
}

.massage-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.massage-list__link:hover,
.massage-list__link:focus {
  background-color: var(--link-color-hov);
}

.massage-list__link:hover .massage-list__icon,
.massage-list__link:focus .massage-list__icon {
  fill: white;
}

.massage-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* clinets */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--link-color-hov);
  border-color: var(--link-color-hov);
}

.clients-list__logo {
  width: 106px;
  height: 60px;
}

/* footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-foot {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.info-footer__logo{
  font-family: "Raleway",
  sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  height: 31px;
}
.address {
  font-style: normal;
  margin-top: 15px;
}

.address__street {
  color: #fff;
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.footer-item-list {
  margin-top: 9px;
}

.footer address .footer-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer address .footer-link:hover {
  color: var(--link-color-hov);
}

.footer address .footer-link:focus {
  color: var(--link-color-hov);
}

.black-span {
  color: #000;
}

.sn-footer__title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #fff;
  margin-bottom: 20px;
}



.massage-list__link--bg {
  background: rgba(255, 255, 255, 0.1);
}

.massage-list__icon--fill {
  fill: #fff;
}

.footer-form {
  display: flex;
}

.footer-form__input{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background: none;
  margin-right: 12px;
  padding: 15px 16px 15px 16px;

   font-family: var(--font);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.89)
}

.footer-form__input::placeholder {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6)
}

.footer-form__order-but {
  display: flex;
  align-items: center;
  background: var(--link-color-hov);
  font-family: var(--font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  transition: transform 100ms var(--timing-function);
  overflow: hidden;
  padding: 10px 30px 10px 30px;
}

.footer-form__order-but:active {
  transform: scale(0.9);
}

.footer-form__icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 350ms var(--timing-function);
  margin-left: 10px;
  fill:white;
}

.footer-form__order-but:active .footer-form__icon {
  transform: translate(200%, -200%);
}

/* PORTFOLIO */
.catalog {
  padding: 94px 0px 94px 0px;
}

.but-list {
  display: flex;
  margin: 0px auto 50px auto;
  justify-content: center;
}

.but-list__but {
  font-family: var(--font);
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-right: 8px;

  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  border: none;
  transition: background 550ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.but-list__but:hover,
.but-list__but:focus {
  color: #fff;
  background-color: var(--link-color-hov);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project-list_item {
  border: 1px solid #eeeeee;
  margin: 15px;
  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 1150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list_item:hover,
.project-list_item:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.disription-port {
  padding: 20px;
}

.name-project {
  font-family: var(--font);
  color: var(--link-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.type-catalog {
  font-family: inherit;
  color: var(--p-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.des-proj {
  overflow: hidden;
  position: relative;
}

.des-proj::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dec-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
  opacity: 1;
  width: 322px;
}

.project-link:hover .des-proj::before,
.project-link:focus .des-proj::before {
  transform: translateY(0%);
}

.project-link:hover .des-proj .dec-card,
.project-link:focus .des-proj .dec-card {
  transform: translate(-50%, -50%);
}

/* Modalka */
.back-drop-appl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 450ms var(--timing-function);
}

.back-drop-appl.is-hidden .modal-appl {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-appl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  background-color: #fff;
  transition: transform 450ms var(--timing-function);
}

.appl-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: black;
}
.close-icon:hover,.close-icon:focus{
  fill: var(--link-color-hov);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}


/* FORMA */
.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-modal {
  padding: 40px;
  width: 100%;
}

.coment-modal {
  resize: none;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--p-color);
}

.form-input {
  display: block;
}

.input-svg-block {
  position: relative;
  margin-bottom: 10px;
}

.form-input .modal-input {
  padding: 10px 0px 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  transition: border 250ms var(--timing-function);
}

.form-field .coment-modal {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;

  padding: 12px 16px 12px 16px;
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border 200ms var(--timing-function);
}

.coment-modal::placeholder {
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.coment-modal:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  fill: var(--link-color);
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.input-svg-block:focus-within>.modal-input {
  outline: none;
  border: 1px solid var(--link-color-hov);
  
}

.input-svg-block:focus-within>.form-icon {
  fill: var(--link-color-hov);
}

.check {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-left: 8px;
  margin-bottom: 30px;
}

.modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8px;
}

.modal-checkbox:checked+.icon-check {
  border: none;
  background: url(../img/icons/icon-check.svg), var(--link-color-hov);
  background-size: contain;
  background-origin: border-box;
  border-radius: 3px;
}

.span-dogovor {
  font-family: var(--font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.cond {
  color: var(--link-color-hov);
  border-bottom: 1.5px solid var(--link-color-hov);
}

.order-but {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 300ms var(--timing-function);
}

.order-but:active {

  transform: scale(0.9);
}