@import "../utils/variables";

.about-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-list {
    display: flex;
}



.about-list__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
    &::before {
        content: "";
        display: inline-block;
        width: 270px;
        height: 120px;
        background-color: #f5f4fa;
        margin-bottom: 30px;
    }

    width: 270px;
}
.icon-det::before {
    background-image: url(../img/icons/antenna.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-time::before {
    background-image: url(../img/icons/clock.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-plan::before {
    background-image: url(../img/icons/diagram.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-tech::before {
    background-image: url(../img/icons/astronaut.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}


.about-list__mini-title {
    font-family: $font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-list__description {
    color: $p-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title-section {
    font-family: $font;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

