$link-color: #212121;
$link-color-hov: #2196f3;
$contact-color: #757575;
$title-color: #212121;
$p-color: #757575;
$font: "Roboto",sans-serif;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$lol:#ffffff;
